@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #15212a;
}


.todoList {
    width: 800px;
    height: 100vh;
    margin: 0 auto;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    color: #feab8d;
}

#cabecalho h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

#cabecalho p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.container-tarefas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-tarefas input {
    width: 90%;
    font-size: 25px;
    border-radius: 16px;
    border: none;
    padding: 5px 0 5px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.container-tarefas input:focus {
    outline: none;
    border: none;
}

.fa-plus {
    color: #15212a;
}

#botaoAdd {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    background-color:#e76f51;
}


.tarefas {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.lista {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------------------------------------------*/
.linha {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
}

.texto {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
    padding: 5px 10px;
    color: #f4c9a3;
}

.remover {
    display: none;
}

.concluido {
    background-color:#3ddc84;
}

.excluir {
    background-color: #e63946;
}

.corIcones {
    color: #15212a;
}

/* 
cores

#f4c9a3 fraca
#feab8d mais suave
#15212a fundo

*/
